<div class="container">
  <div class="whoWeAre">
    <div class="whoWeAreImage">
      <img src="assets/images/logo.png" alt="7Customs Liège">
    </div>

    <div class="whoWeAreText" id="about">
      <h2>{{ 'Qui sommes-nous?' | translate }}</h2>

      <p>
        {{ 'Basée à Liège, en Belgique, 7 Customs-logistics est spécialisé dans le dédouanement et la logistique de marchandises en provenance de Chine. Qu’il s’agisse de fret aérien, maritime ou ferroviaire, chaque expédition est prise en charge par notre équipe avec professionnalisme et sérieux.' | translate }}
      </p>

      <p>
        {{ 'Contactez-nous pour obtenir davantage d’informations.' | translate }}
      </p>

      <a href="mailto:custom@7cl.be"  class="hero-btn">
        {{ 'Contactez-nous' | translate }}
      </a>
    </div>
  </div>

  <app-why-us></app-why-us>
  <app-services></app-services>
  <app-map></app-map>
</div>
