<header class="header">
  
  <div class="top-bar d-flex justify-content-center align-items-center">
    <button (click)="translateText('fr')">FR</button>
    <button (click)="translateText('en')">EN</button>
  </div>
  <!-- Ligne du bas : logo + nav + quote -->
  <div class="bottom-bar d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <div class="logo d-flex flex-column align-items-center">
      <!-- Top bar pour les langues, au-dessus de tout -->
      <img src="assets/images/newlogo.png" alt="Logo">
    </div>
    <!-- Navigation -->
   <app-nav></app-nav>
    <!-- Bouton "Get a Quote" -->
  </div>
   
</header>