.hero-slider {
  position: relative;
  width: 100%;
  height: 40rem;     // hauteur fixe desktop
  overflow: hidden;
  background-color: #003366;
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 100%;
  }

  .carousel{
    background-color: #003366;   // fond bleu derrière l’image
  }

  /* --- MOBILE (par défaut) : image entière, aucune coupe --- */
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;         // toute l’image visible
    background-color: #003366;   // sécurité si l’image a de la transparence
  }

  /* --- DESKTOP : recadrage vers le bas, moins de ciel --- */
  @media (min-width: 992px) {
    .carousel-item img {
      object-fit: cover;              // accepte de couper
      object-position: center bottom; // coupe le haut, garde le bas
    }
  }

  .hero-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgba(0, 0, 0, 0.35);
  }

  @media (max-width: 992px) {
    height: 22rem;
  }

  @media (max-width: 576px) {
    height: 16rem;
  }
}
