<section id="whyUs" class="whyUs reverse">

  <div class="whyUs-img">
    <img src="assets/images/whyUs.jpg" alt="{{ 'Pourquoi nous choisir&nbsp;?' | translate }}">
  </div>

  <div class="whyUs-content">

    <!-- Version Desktop -->
    <div class="desktop-version">
      <h2>{{ 'Pourquoi nous choisir?' | translate }}</h2>
      <ul>
        <li>
          <strong>{{ 'Fiabilité' | translate }}</strong> — {{ 'procédures maîtrisées, contrôle rigoureux et gestion sans erreur.' | translate }}
        </li>
        <li>
          <strong>{{ 'Expertise douanière' | translate }}</strong> — {{ 'conformité totale aux réglementations européennes et internationales.' | translate }}
        </li>
        <li>
          <strong>{{ 'Rapidité' | translate }}</strong> — {{ 'délais optimisés, traitement prioritaire et réactivité maximale.' | translate }}
        </li>
        <li>
          <strong>{{ 'Transparence' | translate }}</strong> — {{ 'communication claire, suivi en temps réel et reporting précis.' | translate }}
        </li>
      </ul>
      <a href="mailto:custom@7cl.be"  class="hero-btn">{{ 'Contactez-nous' | translate }}</a>
    </div>

    <!-- Version Mobile -->
    <div class="mobile-version">
      <h2>{{ 'Pourquoi nous choisir?' | translate }}</h2>
      <p>
        {{ "7 Customs-logistics est votre partenaire de confiance pour des opérations douanières rapides, fiables et conformes. Grâce à notre expertise, notre réactivité et notre position stratégique à Liège, nous assurons un traitement fluide de toutes vos marchandises en provenance de Chine, avec un suivi transparent et une gestion rigoureuse à chaque étape." | translate }}
      </p>
      <a href="mailto:custom@7cl.be"  class="hero-btn">{{ 'Contactez-nous' | translate }}</a>
    </div>

  </div>

</section>
